:root {
    --bg-color: rgba(0, 0, 0, 1);
    --text-color: rgb(236, 236, 236);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Ubuntu', sans-serif;
    z-index: 1;
}