
:root {
    --bg-color: rgba(0, 0, 0, 1);
    --nav-bg-color: rgba(53, 53, 53, 0.952);
    --sidenav-bg-color: rgba(53, 53, 53, 0.863);

    --content-color: rgba(50, 50, 50, 0.678);
    --overlay-color: rgba(50, 50, 50, 0.878);

    --text-color: rgb(236, 236, 236);

    --left-nav-btn-color: rgba(255, 255, 255, 0.5);
    --left-nav-hover-color: rgba(255, 255, 255, 0.308);

    --table-bg-color: rgba(50, 50, 50, 0);
    --table-border-color: rgba(194, 194, 194, 0.164);
    --table-text-color: rgba(255, 255, 255, 0.781);
    --table-text-hover-color: rgba(255, 255, 255, 0.95);
    --tr-even-bg-color: rgba(50, 50, 50, 0.068);
    --tr-bg-hover-color: rgba(255, 255, 255, 0.246);

    --table-font-size: 14px;

}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Ubuntu', sans-serif;
}

.sidenav, .nav {
    position: fixed; /* Stay in place */
    overflow-x: hidden; /* Disable horizontal scroll */
}

.nav {
    overflow-y: hidden; /* Disable vertical scroll */
}

/* top navigation / header area */
#top_nav {
    z-index: 1; /* Stay on top */
    background-color: var(--nav-bg-color);
    top: 0;
    left: 0;
}

#top_nav .leftnavbtn {
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: var(--left-nav-btn-color);
    font-size: 40px;
    top: 0;
    left: 0;
    padding-left: 5px;
    padding-right: 5px;
    position: fixed;
}

#top_nav #search {
    position: fixed;
    padding-top: 15px;
    padding-right: 5px;
    top: 0;
    left: 40%;
}

#top_nav #user_area {
    position: fixed;
    padding-top: 15px;
    padding-right: 10px;
    top: 0;
    right: 0;
}

/* left navigation / side bar */
#left_nav {
    z-index: 2;
    background-color: var(--sidenav-bg-color);
    left: 0;
}

#left_nav div p {
    padding-top: 2px;
    padding-left: 10px;
    /*text-align: center;*/
}

#left_nav .title {
    color: var(--left-nav-btn-color);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

#left_nav div#listing span {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

#left_nav div#listing span:hover {
    background-color: var(--left-nav-hover-color);
    transition: 0.2s;
}

/* content / middle area */
#content {
    z-index: 1; /* Stay on top */
    position: fixed;
    background-color: var(--content-color);
}

#content #media_list {
    padding-top: 5px;
    padding-left: 5px;
}

.content_table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px hidden;
    border-left: 1px hidden;
    border-right: 1px hidden;
    border-bottom: 1px solid var(--table-border-color);
    table-layout: auto;
    font-size: var(--table-font-size);
    color: var(--table-text-color);
    text-align: left;
}

.content_table_header {
    text-transform: uppercase;
    font-weight: normal;
}

.content_table_header, .content_table_row {
    background-color: var(--table-bg-color);
    border: 1px solid var(--table-border-color);
}

.content_table_header th, .content_table_row td {
    padding-top: 6px;
    padding-bottom: 6px;
}

.content_table_row:nth-child(even) {
    background-color: var(--tr-even-bg-color);
}

.content_table_row:hover {
    background-color: var(--tr-bg-hover-color);
    color: var(--table-text-hover-color);
    border: 0px none;
    transition: 0.3s;
}

.content_table_header th:hover {
    font-weight: bold;
    color: var(--table-text-hover-color);
    transition: 0.3s;
}
/* END TABLE STUFF */