:root {
    --sidenav-bg-color: rgba(53, 53, 53, 0.863);

    --left-nav-btn-color: rgba(255, 255, 255, 0.5);
    --left-nav-hover-color: rgba(255, 255, 255, 0.308);

    --left-nav-width: 300px;
}

/* left navigation / side bar */
#left_nav, #left_nav[class='open']{
    z-index: 2;
    position: fixed; /* Stay in place */
    overflow-x: hidden; /* Disable horizontal scroll */
    background-color: var(--sidenav-bg-color);
    top: var(--top-nav-height);
    width: var(--left-nav-width);
    height: 100%;
    left: 0;
}

#left_nav[class='closed']{
    z-index: 2;
    position: fixed; /* Stay in place */
    overflow-x: hidden; /* Disable horizontal scroll */
    background-color: var(--sidenav-bg-color);
    width: 0px;
    left: 0;
}

#left_nav div p {
    padding-top: 2px;
    padding-left: 10px;
    /*text-align: center;*/
}

#left_nav .title {
    color: var(--left-nav-btn-color);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

#left_nav div#listing span {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

#left_nav div#listing span:hover {
    background-color: var(--left-nav-hover-color);
    transition: 0.2s;
}